<div>
  <div>
    <h3>LIVE SCORES</h3>
    <% if @live_matches.present? %>
      <table>
        <tbody>
          <% @live_matches.each do |match| %>
            <%= render partial: 'match', locals: { match: match } %>
          <% end %>
        </tbody>
      <% else %>
        No live matches found!
      <% end %>
    </table>
  </div>
  <div>
    <h3>PREVIOUS MATCH RESULTS</h3>
    <% if @previous_matches.present? %>
      <table>
        <tbody>
          <% @previous_matches.each do |match| %>
            <%= render partial: 'match', locals: { match: match } %>
          <% end %>
        </tbody>
      </table>
    <% else %>
      No previous matches found!
    <% end %>
  </div>
</div>
