<h1>Matches</h1>
<table>
  <tbody>
    <% @matches.each do |match| %>
      <tr>
        <td><%= match["team1"] %> vs <%= match["team2"] %></td>
        <td><%= link_to "Show", match_path(match["id"]) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

